.header{
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: pink;
}

.left-section {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.text-logo {
  margin-left: 100px;
}

.list {
margin: 5px;
}

.mid-section {
  /* background-color: blue; */
  display: flex;
  flex: 1;
  align-items: center;
  /* align-items: space-between; */
}
.search-bar {
  flex: 1;
  margin-right: 10px;
  height: 25px;
  border-radius: 14px;
  border: 1px solid rgb(135, 132, 132);
}

.right-section {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.header-icons {
  height: 24px;
  width: 24px;
  margin-left: 15px;
}