.home-page {
  background-color: rgb(242 240 241);
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: row;
  padding-top: 70px;
  
}

.word-section {
  width: 50%;
  /* border: 1px solid black; */
  margin-left: 100px;
  padding-top: 70px;
  /* margin: 60px; */
}

.big-text {
  font-weight: bolder;
  font-size: 52px;
  width: 450px;
  line-height: 50px;
  margin-bottom: 12px;
}

.small-text {
  color: rgb(133, 130, 131);
  font-weight: 200;
  font-size: 13px;
  width: 400px;
  margin-bottom: 12px;
}

.shop-btn {
  background-color: black;
  color: white;
  border: none;
  height: 52px;
  width: 210px;
  border-radius: 26px;
  margin-bottom: 24px;
}

.stats {
  display: flex;
  flex-direction: row;
  width: 500px;
  
}

.number {
  font-weight: bold;
}

.label {
  font-size: 13px;
}

.picture-section {
  width: 50%;
  /* border: 1px solid black; */
  margin-left: 100px;
  

}
.home-page-pic {
  /* border: 1px solid red; */
  height: 500px;
  width: 90%;
}

.designer-list {
  background-color: black;
  height: 122px;
  width: 100%;
}

.brand {
  justify-content: center;
  align-items: center;
  height: 38px;
}

